/* Use your own code or past solution for Great Idea Web Page CSS here! */


```<div class="container">

  <header>
    <nav>
      <a href="#">Services</a>
      <a href="#">Product</a>
      <a href="#">Vision</a>
      <a href="#">Features</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
    <img class="logo" src="https://tk-assets.lambdaschool.com/c7e8c14d-d7ad-4d21-9c18-4a68c77e5ad5_logo.png" alt="Great Idea! Company logo.">
  </header>

  <section class="cta">
    <div class="cta-text">
      <h1>Innovation<br> On<br> Demand</h1>
      <button>Get Started</button>
    </div>
    <img src="img/header-img.png" alt="Image of a code snippet.">
  </section>

  <section class="main-content">

    <div class="top-content">
      <div class="text-content">
        <h4>Features</h4>
        <p>Aliquam elementum magna eros, ac posuere elvit tempus et. Suspendisse vel tempus odio, in interdutm nisi. Suspendisse eu ornare nisl. Nullam convallis augue justo, at imperdiet metus scelerisque quis.</p>
      </div>
      <div class="text-content">
        <h4>About</h4>
        <p>Aliquam elementum magna eros, ac posuere elvit tempus et. Suspendisse vel tempus odio, in interdutm nisi. Suspendisse eu ornare nisl. Nullam convallis augue justo, at imperdiet metus scelerisque quis.</p>
      </div>
    </div>

    <img class="middle-img" src="img/mid-page-accent.jpg" alt="Image of code snippets across the screen">

    <div class="bottom-content">
      <div class="text-content">
        <h4>Services</h4>
        <p>Aliquam elementum magna eros, ac posuere elvit tempus et. Suspendisse vel tempus odio, in interdutm nisi. Suspendisse eu ornare nisl. Nullam convallis augue justo, at imperdiet metus scelerisque quis.</p>
      </div>
      <div class="text-content">
        <h4>Product</h4>
        <p>Aliquam elementum magna eros, ac posuere elvit tempus et. Suspendisse vel tempus odio, in interdutm nisi. Suspendisse eu ornare nisl. Nullam convallis augue justo, at imperdiet metus scelerisque quis.</p>
      </div>
      <div class="text-content">
        <h4>Vision</h4>
        <p>Aliquam elementum magna eros, ac posuere elvit tempus et. Suspendisse vel tempus odio, in interdutm nisi. Suspendisse eu ornare nisl. Nullam convallis augue justo, at imperdiet metus scelerisque quis.</p>
      </div>
    </div>

  </section>

  <section class="contact">

    <h4>Contact</h4>

    <p>123 Way 456 Street<br> Somewhere, USA</p>

    <p>1 (888) 888-8888</p>

    <p>sales@greatidea.io</p>

  </section>

  <footer>
    <p>Copyright Great Idea! 2018</p>
  </footer>

</div><!-- container -->```
html

Mary Sabol   [1 minute ago]


```/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  width: 880px; */
  /* TB LR */
  margin: 0 auto;
}

/* header */


/* @media (max-width: 500px) {
    .container {
        display: flex;
        background: lightpink;
        width: 100%;
        justify-content: center;
    }
} */
  

header .logo {
    margin-top: 25px;
    align-items: center;
  
  }
  
  @media (max-width: 500px) {
      header .logo {
          display: flex;
          width: 50%;

      }
  }


header nav {
  display: inline-block;
  width: 691px;
  vertical-align: top;
  margin-top: 35px;
  /* border: 1px solid black; */
}

@media (max-width: 500px) {
    header nav {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        width: 50%;
        /* border: 1px dotted black; */
    }
}

header nav a {
  margin-right: 65px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
  width: 50%;
}

@media (max-width: 500px) {
    header nav a {
        border-bottom: 1px solid grey;
        margin: 10px 0 0 0;
        font-size: 16pt;
        padding: 10pt;
        justify-content: space-evenly;
        align-items: center;
    
    }
}


header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

/* header nav a:last-child {
  margin-right: 0;
} */



/* cta */

.cta .cta-text {
  display: inline-block;
  vertical-align: top;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
}

/* Innovation on Demand */
@media (max-width: 500px) {
    .cta .cta-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid green;
        width: 50%;
        height: auto;
        margin: 20px;
        padding: 10px;
        
      }
    }

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

/* .cta img {
  display: inline-block;
  margin-top: 69px;
} */

.main-content {
  border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
}

.main-content .top-content {
  padding: 0 10px;
}

.main-content .top-content .text-content {
  width: 410px;
  display: inline-block;
  margin-right: 34px;
}

@media (max-width: 500px) {
    .main-content .top-content .text-content {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: left;
        border: 1px dotted black;
      }
}

.main-content .top-content .text-content:last-child {
  margin-right: 0;
}

.main-content .middle-img {
  margin-top: 45px;
}

@media (max-width: 500px) {
    display: flex;
    width: 50%;
}

.main-content .bottom-content {
  margin-top: 37px;
  padding: 0 10px;
}

.main-content .bottom-content .text-content {
  width: 275px;
  display: inline-block;
  margin-right: 12px;
}

@media (max-width: 500px) {
    .main-content .bottom-content .text-content {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: left;
        border: 1px dotted red;
      }
    }


/* .main-content .bottom-content .text-content:last-child {
  margin-right: 0;
} */

.contact {
  margin-top: 57px;
  border-top: 1px solid black;
  padding: 39px 10px 0;
}

@media (min-width: 500px) {
    .contact {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: left;
      }
    }

.contact p {
  margin: 20px 0;
}
@media (max-width: 500px) {
    .contact p {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: left;
       }
    }

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}


@media (max-width: 500px) {
    footer {
        display: flex;
        width: 100%;
        justify-content: center;
      }
    }

